
#loader {
    position: absolute;
    left: 52%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #02b875;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

#container-loader{

    background-color:#ffffff;
    height :100%;
    width:100%;
    position:fixed;
    z-index: 10000;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#main .carousel-inner img {
    max-height: auto;
    max-width: auto;
    object-fit: cover;

}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: #111 0px 0px 10px;
    color: white;
}


#carousel .overlay .container,
#carousel .overlay .row{

    height: 100%;

}

/* card animation */
.card:hover{
    transition: 0.3s;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
    }

/* pinogano font */
.font-nav {
    font-size: 30px;
}

/* links pinogno fonts (home/dashboard) */
.font-navr{
    font-size: 18px;
}

/* background color dashboard */
.cab {
    background-color: #f9f9f9;
}

/* font cards consumo and valor pico */
    
.dfont{
    font-size: clamp(2.6rem, 4vw, 58px);  /* font responsive*/
    position: absolute;
    z-index: 1;
    color:#396AB1;
    top: 42%;
    left: 38%;
    font-family: Arial;
    font-weight: 600;
}

.cl{
    color:#25505a;
}
/* morado for the consumo #EB1A69 */

/* font card money */
.money{
    font-size: clamp(2.6rem, 4vw, 58px);
    position: absolute;
    color:#E1974C;
    z-index: 1;
    top: 42%;
    left: 25%;
    font-family: Arial;
    font-weight: 600;
}

.posi{
    position: absolute;
}
/* font center donut */
.hauge{
    font-size: clamp(1.6rem, 4vw, 48px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#84BA5B;
    top: 68%;
    left: 45%;
    font-family: Arial;
    font-weight: 600;
}


.up:hover {
    transform: scale(1.04);
    cursor: pointer;
}
.up{
    transition: transform 0.5s;
}
