{% extends 'layout.html' %}
{% block body %}

<div class="contenido container pb-4"> 
    <div class="row">
         <div class="col-md-12 pt-1 pb-4">
            <h1 class="text-center"><strong>Organizador</strong></h1>
        </div>
    </div>
</div>
<form action="/chivos" method="post">
    <div class=" container form-group">
        <label for="exampleTextarea">Ingrese los números de identificación separados por coma:</label>
        <textarea type="number" name="vector_file"  class="form-control" id="exampleTextarea" rows="3" style="height: 100px;"></textarea>
        <br>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Rango numeros de identificiacion</label>
            <input type="text" name="value_start" class="form-control" placeholder="Numero Inicial" id="inputDefault">
            <br> 
            <input type="text" name="value_finish" class="form-control" placeholder="Numero Final" id="inputDefault">
            <div class="contenido pb-4 pt-4">
                <button  type="submit" class="btn btn-block btn-success">Iniciar</button>
            </div>          
        </div>
    </div>
</form>

{% endblock %}