{% extends 'layout.html' %}
{% block body %}


<div class="container-fluid pt-4 bg-dark">
    <div class="row">
      <div class="col-md-12 pt-4 pb-4">
        <h3 class="text-center "><strong>Monitoreo energético</strong></h3>
      </div>
      <div class="statistics col-md-4">
        <div class="card text-white bg-ligth mb-3">
          <div class="card-body shadow" >
            <h5 class="card-title text-secondary">Valor pico diario</h5>
            <div  class="text-primary  dfont">{{ test }} W </div>
            <canvas id="tortaPorcentaje" width="40" height="70"></canvas>
          </div>
        </div>
      </div>
      <div class="statistics col-md-4">
        <div class="card text-white  mb-3">
          <div class="card-body shadow" >
            <h5 class="card-title text-secondary">Consumo mensual</h5>
            <div class="text-warning position-absolute text-center dfont">{{ test*3 }} W </div>
            <canvas id="tortaPorcentaje" width="40" height="70"></canvas>
          </div>
        </div>
      </div>
      <div class="statistics col-md-4">
        <div class="card text-white mb-3">
          <div class="card-body shadow" >
            <h5 class="card-title text-secondary">Estimado a pagar</h5>
            <div class="text-success position-absolute text-center money">$ {{ test*1000}}  </div>
            <canvas id="tortaPorcentaje" width="40" height="70"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card mb-3">
          <div class="card-body shadow">
            <h5 class="card-title text-secondary">Consumo</h5>
            <div  class="text-danger hauge">2300</div>
            <canvas id="donut" width="500" height="400"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body shadow">
            <h5 class="card-title text-secondary">Histórico</h5>
            <canvas id="tableline" width="500" height="400"></canvas>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <h4 class="text-center">CHART 3</h4>
        <div class="card">
          <div class="card-body">
            <canvas id="chardiv" width="100" height="100"></canvas>
          </div>
        </div>
      </div> -->

    </div>
  </div>



  <!-- LINE GRAPH-->
  <script>
      Chart.defaults.global.responsive = true;
      Chart.defaults.global.legend.display = false;

      var chartData = {
          labels : [{% for dato in numeros %}
                "{{ dato.0 }}",
                {% endfor %}],
          datasets : [{
              label: 'Value',
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba(114,147,203,0.2)",
              borderColor: "rgba(57,106,177,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'mister',
              pointBorderColor: "rgba(57,106,177,1)",
              pointBackgroundColor: "#fff",
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(57,106,177,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 4,
              data : [{% for dato in numeros %}
                      {{ dato.1 }},
                  {% endfor %}],
              spanGaps: false
          }]
      }


      var ctx = document.getElementById("tableline").getContext("2d");
      var ejemplo1 = new Chart(ctx, {
          type: 'line',
          data: chartData,
          options: {
              responsive: true,
              plugins: {
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                }
              },
          }
      });

  </script>


  <!-- BAR GRAPH -->
  <script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = false;

    var data = {
      labels : [{% for dato in numeros %}
                "{{ dato.0 }}",
            {% endfor %}],
      datasets : [{
          label: 'Value',
          backgroundColor: "rgba(114,147,203,0.2)",
          borderColor: "rgba(57,106,177,1)",
          data : [{% for dato in numeros %}
                  {{ dato.1 }},
              {% endfor %}]
      }]
    }


    var ctx = document.getElementById("chardiv").getContext("2d");
    var cof = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
            }
          },
      }
  });
  </script>


  <!-- DOUGHNUT GRAPH  -->
  <script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = false;

    var data = {
      labels: ['Red', 'blue'],
      datasets: [{
          backgroundColor: ["rgba(255,99,132)",
                          "rgba(114,147,203,0.2)"],
          data : [ 25 , 75 ],
      }]
    };

    var ctx = document.getElementById("donut").getContext("2d");
    var co = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: {
          cutoutPercentage:73,
          circumference:Math.PI,
          rotation:Math.PI,
          responsive: true,
      }
    });
  </script>


{% endblock %}

